@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #f0f4f8;
}

button, a{
  transition: background 0.3s linear;
}

.toast{
  animation: toastAnimate 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  z-index: 9999;
}

@keyframes toastAnimate {
  0%{transform:translate(0px, -100px); top:0;}
  20%{transform:translate(0px, 20px); top:0;}
  80%{transform:translate(0px, 20px); top:0;}
  100%{transform:translate(0px, -100px); top:0;}
}